Cookies
Cookies-journal

Cache/
Backups/
GPUCache/
Local Storage/
User/
CachedData/


second/.Trash-0/
second/ide_work/
second/lost+found/
second/joern-code/.joernIndex/
second/download/CMake/CMake/CMake/
*.joernIndex/


*.pyc
